<h1>What'd You Mess Up?</h1>

<%=form_with method: :patch, model: @beach do |f|%>
    <%= f.label :name%>
    <%= f.text_field :name%>
    <%= f.label :location%>
    <%= f.text_field :location%>
    <%= f.label :open%>
    <%= f.select :open, [true, false]%>
    <%= f.submit%>
    <%= link_to 'Nevermind!', beach_path%>
<% end %>