<h1><%= @page_title %></h1>

<%= link_to 'Open Beaches', '/beaches?open=true'%>

<ul>
<% @beaches.each do |beach| %>
   <li> <%= link_to beach.name, beach_path(beach.id)%></li>
<% end %>
</ul>
<%= link_to 'Go To HomePage', home_path%>
<%= link_to 'Add Beach', new_beach_path%>